@charset "utf-8";
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}
/* 공용 */
.d-flex {
    display: flex;
}
.container {
    width: 1440px;
}
.margin-auto {
    margin: 0 auto;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.align-center {
    align-items: center;
}

/* header */
.sns_icon i {
    width: 20px;
}
.logo img {
    width: 200px;
}
.login li:nth-child(1) {
    border-bottom: 1px solid #666;
    padding: 5px;
    margin: 5px;
}
