@charset "utf-8";
:root {
  --primary-color: #8eb242;
  --secondary-color: #d4db92;
  --third-color: #5a7031;
  --fourd-color: #d6dd2b;
  --bg-orange: orange;
  --font-color: #fff;
  --lightfont-color: #333;
  --subfont-color: #7c7c7c;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
  background: #fff;
}
/* 공용 */
strong {
  font-size: 4rem;
}
.pos-r {
  position: relative;
}
.d-flex {
  display: flex;
}
.container {
  width: 1440px;
}
.margin-auto {
  margin: 0 auto;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
  height: 0;
}
.bg-b {
  background: var(--lightfont-color);
}
.d-none {
  display: none;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}
.my-5 {
  margin: 5rem 0;
}
.my-6 {
  margin: 6rem 0;
}
.my-7 {
  margin: 7rem 0;
}
.my-8 {
  margin: 8rem 0;
}
.my-9 {
  margin: 9rem 0;
}
.my-10 {
  margin: 10rem 0;
}
.mt-12 {
  margin: 12rem 0 0 0;
}
.font-125 {
  font-size: 1.25rem;
}

.gray {
  color: #c0c0c0
}

.center-line {
  text-decoration: line-through;
}

.bg-g {
  background: var(--third-color) url(../images/dot.png);
  max-width: 100%;
  height: 352px;
}
/* header */
header {
  margin: 2rem 0;
}
.sns_icon li {
  font-size: 2rem;
  margin: 0 0.4rem;
}
.sns_icon li:nth-child(2) i {
  font-size: 2.2rem;
}
.naver_icon {
  width: 32px;
}
.login {
    box-sizing: border-box;
}
.login li:nth-child(1) {
  border-right: 1px solid #666;
  padding: 0 1rem;
  margin: 0 1rem;
}
.login li:nth-child(2) {
  margin: 0 1rem 0 0;
}


.fa-solid {
  font-size: 1.5rem;
  padding: 0 0 0 .5rem;
}

/* nav */
#gnb > li {
  color: var(--font-color);
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  position: relative;
}
#gnb > li > a {
  display: inline-block;
  padding: 27px 96px;
}
#gnb > li > a:hover {
  background: var(--third-color);
}
#gnb > li:nth-child(1) {
  margin: 0 0 0 5rem;
}
#gnb > li:nth-child(5) {
  margin: 0 5rem 0 0;
}
.sub {
  display: none;
  color: #333;
  box-sizing: border-box;
  position: absolute;
  z-index: 20;
  width: 100%;
  left: 0;
  top: 100%;
}
.sub > li > a {
  display: inline-block;
  width: 100%;
  padding: 1.25rem 0;
}
.sub > li > a:hover {
  background: var(--primary-color);
  color: var(--font-color);
}

.bg-main {
  background: var(--primary-color);
  position: relative;
}
.bg-main::after {
  content: '';
  width: 100%;
  height: 0;
  background: var(--font-color);
  position: absolute;
  left: 0;
  top: 100;
  z-index: 10;
  transition: all 300ms;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.bg-main.on::after {
  height: 240px;
}
.bg-main2::after {
  content: '';
  width: 100%;
  height: 0;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 30;
  transition: all 300ms;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}
.bg-main2.on::after {
  height: 200px;
}

form {
  display: none;
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 190px;
  z-index: 100;
}
input {
  font-size: 1.2rem;
  padding: 0 0 0 1rem;
  width: 90%;
  height: 50px;
  border-radius: 100px;
}

/* section */
#hero img {
  width: 480px;
  height: 642px;
}

/* .arrows {
    top: 367px;
    transform: translateY(100%);
    display: flex;
    justify-content: space-between;
    width: 1440px;
}
.left_arr {
    position: absolute;
    z-index: 10;
    top: 200px;
    padding: 279px 1rem;
    transition: all 300ms ease-in-out;
}
.right_arr {
    position: absolute;
    z-index: 10;
    top: 200px;
    right: 250px;
    padding: 279px 1rem;
    transition: all 300ms ease-in-out;
} */

/* main */
.main_title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}
.main_nav ul {
  margin: 3rem 0;
}
.main_nav li {
  box-sizing: border-box;
  background: var(--primary-color);
  color: var(--font-color);
  padding: 0.7rem 2rem;
  border-radius: 30px;
  width: 130px;
  height: 40px;
  transition: all 300ms;
  white-space: nowrap;
  text-align: center;
}
.main_nav li:hover {
  background: var(--fourd-color);
  color: var(--third-color);
  width: 130px;
  height: 39px;
  box-sizing: border-box;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}
.app_text {
  position: absolute;
  top: 4rem;
  left: 5rem;
  font-size: 2rem;
  color: var(--font-color);
}
.app_text button {
  background: var(--primary-color);
  border: none;
  border-radius: 300px;
  padding: 0.5rem 2rem;
  color: var(--font-color);
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 0 0;
}
.box_radius {
  position: absolute;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 100%;
  right: 0;
  top: -60px;
}
.box_radius img {
  position: absolute;
  right: -150px;
}
/* .main_nav ul li:nth-child(2) {
    padding: 0 18px;
} */

.tab-contents img {
  width: 300px;
  height: 410px;
  border-radius: 30px;
  box-sizing: border-box;
  flex: 0 0 1;
  overflow: hidden;
  /* margin: 0 1rem; */
}
.select-bg {
  background: #333 rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.setitem01 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.setitem_text {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius:  0 0 30px 30px;
  padding: 1rem .7rem;
  line-height: 1.5;
  color: var(--font-color);
  width: 100%;
  height: 410px;
  top: 70%;
  left: 0;
  box-sizing: border-box;
}
.setitem_text > div > div {
  margin: 0 0 12rem 0;
}
  .setitem01 .on {
    border-radius: 30px;
    transition: all 300ms;
    top: 0;
  }

.slick-slide {
  margin: 0 60px 0 0;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.5);
}

/* 하단 탭 */
.community_continer {
  border: 1px solid #333;
  border-radius: 20px;
}
.community_title {
  border-bottom: 1px solid var(--lightfont-color);
}
.community_title h2 {
  padding: 1rem 2rem;
  font-size: 2rem;
  border-left: 1px solid var(--lightfont-color);
  color: #333;
  background:#cecece;
  position: relative;
}
.community_title .sec {
  background: var(--font-color);
}
.community_title h2:nth-child(1) {
  border-radius: 20px 0 0 0;
  border-left: none;
}
.community_title h2:nth-last-child(1) {
  border-radius: 0 20px 0 0;
}
.community_title .on::after {
  content: '';
  width: 100%;
  height: 10px;
  border-bottom: 1px solid #fff;
  background: var(--font-color);
  position: absolute;
  left: 0;
  top: 90%;
  z-index: 10;
}
.community_title h2:hover {
  background:var(--font-color);
  transition: all 300ms;
}
.community_contents {
  padding: 1rem 3rem;
  width: 700px;
  box-sizing: border-box;
}
.community_contents p {
  padding: 1rem 1rem;
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.community_contents p:nth-child(2) {
  font-size: 1.125rem;
  color: var(--subfont-color);
}
.community_contents li {
  border-bottom: 2px dotted #929292;
}
.new {
  width: 700px;
  box-sizing: border-box;
}
.new h2 {
  padding: 1rem 1rem;
  font-size: 2rem;
  color: #333;
}

/* 슬라이더 작업 */
.sliderWrap {
 position: relative;
}
.sliderWrap > div {
  display: none;
}
.sliderWrap > div:nth-child(1) {
  display: block;
}
.sliderWrap .slider {
  position: absolute;
  width: 700px;
  height: 410px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.sliderWrap .slider img {
  vertical-align: top;
  width: 700px;
  position: absolute;
  bottom: 0;
}
.sliderWrap .slider p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  color: var(--font-color);
  padding: 3rem 0;
  transform: translate(-50%, 0);
}

/* article */
.cooperation li {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

/* footer */
.footer_top {
  color: #c9c9c9;
}
.footer_top li {
  margin: 2rem 1rem 1rem 0;
  padding: 0 1rem 0 0;
  border-right: 3px solid #757575;
}
.footer_top li:nth-last-child(1) {
  border: none;
}
.copyright {
  color: #757575;
}

/*--------------------- brand ---------------------------*/
.brand-bg {
  height: 350px;
  background: url(../images/brand-bg.jpg) no-repeat center scroll;
  background-size: cover;
}
.brand-bg h1 {
  color: var(--font-color);
  font-size: 2.5rem;
  line-height: 1.2;
  position: absolute;
  top: 90px;
  left: 300px;
}
/* section */
.brands li {
  width: 200px;
  height: 200px;
  border-radius: 300px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.brands li:hover {
  background: rgba(0, 0, 0, 0.5);
}
.brands li:nth-child(1) {
  margin: 0 0 0 8rem;
}
.brands li:nth-last-child(1) {
  margin: 0 8rem 0 0;
}
.jubu img {
  width: 1440px;
}
.jubu-text {
  max-width: 864px;
  max-height: 272px;
  height: 100%;
  background: #1a78bc;
  color: var(--font-color);
  /* padding: 3rem; */
  width: 60%;
  position: absolute;
  left: 20%;
  box-sizing: border-box;
  bottom: -9rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.jubu-text div {
  margin: 0 0 0 1rem;
  border-right: 3px solid var(--font-color);
}
.jubu-text h3 {
  font-size: 2rem;
  margin: 4rem 0 0 0;
  width: 200px;
}
.jubu-text button {
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
  background: #1757b1;
  padding: .5rem 1rem;
  color: inherit;
  margin: 2rem 0 0 0;
}
.jubu-text p {
  padding: 2rem;
  margin: 2.5rem 0 2.5rem 1rem;
  width: 80%;
  line-height: 2;
}
.jubu_infos {
  transition: all 300ms;
}
.jubu_info {
  /* position: absolute;
  top: 780px;
  left: 210px; */
  margin: 13rem 0 0 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--font-color);
  border-radius: 30px;
  padding: 2rem;
}
.jubu_info h3 {
  font-size: 2rem;
  margin: 0 0 2rem;
}
.jubu_info p {
  font-size: 1.5rem;
  line-height: 1.3;
}
.jubu_info img {
  /* width: 640px; */
  /* border-radius: 30px; */
}
.jubu_info button {
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
  background: #1757b1;
  padding: .5rem 1rem;
  color: inherit;
  margin: 2rem 0 2rem 0;
}